@model IEnumerable<PeopleAccountViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<table>
    @foreach (var acc in Model)
    {
        <tr>
            <td>@acc.Name</td>
            <td>@acc.Company</td>
            <td>@acc.Email</td>
            <td>@acc.Phone</td>
            <td>@string.Concat(acc.Tags)</td>
        </tr>
    }
</table>