@model IEnumerable<PeopleAccountViewModel>
@{
    ViewData["Title"] = "Users";
}

<table>
    @foreach (var acc in Model)
    {
        <tr>
            <td>
                <a asp-controller="Home"
                   asp-action="UserDetails"
                   asp-route-id="@acc.Id">
                    @acc.Name
                </a>
            </td>
            <td>@acc.Company</td>
            <td>@acc.Email</td>
            <td>@acc.Phone</td>
            <td>
                @foreach (var tag in acc.Tags)
                {
                    <a asp-controller="Home"
                       asp-action="UsersWithTag"
                       asp-route-tagName="@tag">
                        @tag
                    </a>
                }
            </td>
        </tr>
    }
</table>